<div class="let">
    {% extends 'bootstrap/base.html'%}

    {% block navbar %}
    {% include 'navbar.html' %}

    {% endblock %}

    {% block content %}
    <br><br>

    <div>
        <h1 id="pot">Get in touch and our excellent student support team <br> will answer all your questions and provide
            feedback to your concerns.</h1>
        <br><br>
        <div class="data col-md-6">
            <form class="form">
                <h1 style="color: white;">CONTACT US</h1> <br><b></b>
                <div class="contact">
                    <div class="col-md-6 texts" style="color: white;">
                        <input type="text" class="form-control" id="name" placeholder="Name" required
                            style="width: 100%" style="color: white;">
                    </div>
                    <div class="col-md-6 texts" style="color: white;">
                        <input type="email" class="form-control" id="email" placeholder="Email" required
                            style="width: 100%;">
                    </div><br><br>
                    <div class="col-md-12" style="color: white;">
                        <textarea type="text" name="MESSAGE" class="form-control" required id="message" cols="30"
                            rows="10" placeholder="Your message here..."></textarea><br><br><br>
                        <button id="submit" class="btn btn-primary" onclick="submit()" type="submit">Submit</button>
                    </div>

                </div>
            </form>
        </div> 
        <div class="col-md-6">

            <h2>Meet our brilliant and knowledgable student support team</h2>
            <p>Live support is available Mon-Fri 10:00am-5:30pm</p>
            <div class="row">
                <div id="help" class="col">
                    <img src="/static/icons/avatar2.png" alt="avatar">
                    <p>Celine Mata</p>

                </div>
                <div id="help" class="col">
                    <img src="/static/icons/avatar1.jpeg" alt="avatar2">
                    <p>Phil Collins</p>
                </div>
                <div id="help" class="col">
                    <img src="/static/icons/avatar4.jpeg" alt="avatar3">
                </div>
            </div>

        </div>
    </div>

    {% endblock%}
</div>